body {
    text-align: center;
    top: 15%;
	background: linear-gradient(to right, red , blue); 
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-weight: lighter;
}
